---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Dave Vo</title>
    <link rel="icon" type="image/x-icon" href="https://media.dave-vo.com/file/dvfolio/general/davevo_favicon.png">
</head>

<BaseLayout>
    <main class="main-container">

        <section class="functional"> <!--Functional-->
            <section>
                <h1 class="landing-text fraunces"> hi there, i'm dave~</h1>
                <p>
                    I'm a product designer based in California who enjoys both the craft and the purpose. Always looking to build trustworthy experiences, delight with visuals, and solving problems, one day at a time.
                </p>
                <p>
                    Currently seeking a role in product design or research. Previously, I’ve designed AI-assisted creativity and energy tech. Also very interested in design systems and product strategy. If you’re in these spaces, let’s chat~
                </p>

                <p>
                    Outside of designing, coding, and leading, you might catch me:
                </p>
                <ul>
                    <li>
                        📗 Flipping through print media.
                    </li>
                    <li>
                        🌆 Color-grading my pics on the go.
                    </li>
                    <li>
                        🎮 Being a spiral-saving wizard and battle cat commander.
                    </li>
                </ul>

                <p>
                    Looking to hire? Reach out on <a href="https://www.linkedin.com/in/dave-vo" target="_blank" aria-label="My LinkedIn" class="underline-button open-new-page">LinkedIn</a> or 
                    <a class="underline-button" href="mailto:ddavevoddesign@gmail.com" aria-label="My email.">email</a> – I’d be happy to meet you!
                </p>
            </section>

            <section class="profile-pic-container"> <!--Profile Picture -->
                <div class="profile-pic">
                    <picture>
                        <img class="profile" src="https://media.dave-vo.com/file/dvfolio/about/profile-pic-full.png">
                    </picture>
                    <img class="wildcard" src="https://media.dave-vo.com/file/dvfolio/about/snowflake-7.png">
                </div>
                
                <div style="display: flex; justify-content: space-between;">
                    <p class="subtitle">INTJ</p>
                    <p class="subtitle">SD Metro Area</p>
                </div>
            </section>
        </section>

        <section class="design-values"> <!--Paper cranes-->
            <h1 class="landing-text fraunces">(de)sign of good living</h1>
            <p>
                <i>senbazuru 千羽鶴 • (the act of folding 1,000 paper cranes)</i> 
            </p><br>

            <div class="playlist-text-container">
                <div class="playlist">
                    <a class="open-new-page" href="https://open.spotify.com/playlist/0gmuRZRuqPMszO5Z6oOfsN?si=455a9de4c05d4880" target="_blank">
                        <picture>
                            <img class="subliminal" src="https://media.dave-vo.com/file/dvfolio/about/subliminal-playlist.png">
                        </picture>
                    </a>
                </div>
  
                <p>
                    Design is inherently profound, much like the concept behind senbazuru. Real change doesn’t come from simply folding paper. Curious enough, why put in the effort to begin with?
                </p>
                <p>
                    Dare I say that’s already a given. Rather, the act of folding reaffirms what instills us with passion, leading us to believe that we have the power to manifest anything into existence. Cranes, folded 1 by 1, symbolize the <b>sum of our dedication</b> to solving our problems and reaching our goals.
                </p>
                <p>
                    Deep down, this is what drew me to design: manifesting impact. Revisiting this idea of iteration and reflection made me fall in love with the craft again. Caring to design 1,000 paper cranes is a process, but designing the 1,001th, the 10,000th—the 1,000,000th marks a lifelong pursuit of fulfillment.
                </p>
            </div>
        </section>
    </main>
</BaseLayout>

<link href="/fonts/gravity-regular.woff2" as="font" type="font/woff2" crossorigin>
<link href="/fonts/gravity-bold.woff2" as="font" type="font/woff2" crossorigin>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,WONK@1,9..144,1&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,WONK@1,9..144,1&display=swap" media="print" onload="this.media='all'">
<noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,WONK@1,9..144,1&display=swap">
</noscript>

<!-- ======================================= -->

<link rel="preload" href="/styles/general.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/styles/general.css"></noscript>

<link rel="preload" href="/styles/boilerplate.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/styles/boilerplate.css"></noscript>

<link rel="preload" href="styles/about-page.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="styles/about-page.css"></noscript>

<script defer>
    function myFunction(btn) {
  btn.classList.toggle("active");
  btn.closest(".header").classList.toggle("menu-open");
}
</script>

<script src="/javascript/case-study-links.js" defer></script>
 
</html>