---

---

<footer class="footer">
    <div class="footer-container">

        <img class="footer-logo" src="https://media.dave-vo.com/file/dvfolio/general/logo-stroked.png" alt="Decorative element.">

        <div class="footer-content">
            <h4>I’m Dave, a product designer based in California (willing to relocate). Actively searching for full-time roles.</h4>

            <div class="footer-nav-container">
                <ul class="footer-nav">
                    <p class="subtitle">Site</p>
                    <li><a class="underline-button" href="/index.html">Home</a></li>
                    <li><a class="underline-button" href="/about.html">About</a></li>
                    <li><a class="underline-button" href="/playground.html">Play</a></li>
                </ul>

                <ul class="footer-nav">
                    <p class="subtitle">Links</p>
                    <li><a class="underline-button" href="mailto:ddavevoddesign@gmail.com" aria-label="My email.">Email</a></li>
                    <li><a class="underline-button" href="https://www.linkedin.com/in/dave-vo" target="_blank" aria-label="My LinkedIn">Linkedin</a></li>
                    <li><a class="underline-button" href="https://github.com/ddavevo" target="_blank" aria-label="My Github">Github</a></li>
                </ul>
            </div>

            <p id="copyright">@<script>document.write(new Date().getFullYear())</script> Dave Vo • Deployed on Github </p>
        </div>
    </div>    
</footer>