---

---

<header class="header">
    <a href="/index.html">
        <div class="wordmark open-new-page"> <!-- 111px x 74px / 127px x 74px -->
            <span class="fraunces">dave v</span>
            <img class="stylized-o" alt="" aria-label="Navigate back to homepage" src="https://media.dave-vo.com/file/dvfolio/general/logo-pinwheel-formation.svg">
        </div> 
    </a>

    <div class="menu">
        <ul class="hamburger-menu-options">
            <li> <!-- 45px x 22px / 49px x 22px -->
                <a class="underline-button open-new-page" href="/about.html">About</a>
            </li>
            <li> <!-- 84px x 22px / 92px x 22px -->
                <a class="underline-button open-new-page" href="/playground.html">
                    Play
                </a>
            </li>
            <li> <!-- 63px x 22px / 65px x 22px -->
                <a class="underline-button open-new-page" href="https://drive.google.com/file/d/1yYrBAnPRDSHiks1AfV7YPR5DxmK0dA1y/view?usp=sharing" target="_blank">
                    Résumé
                </a>
            </li>
        </ul>
    </div>

    <button type="button" aria-label="Hamburger Icon" class="hamburger" onclick="myFunction(this)">
        <div class="ham-bars" id="bar1"></div>
        <div class="ham-bars" id="bar2"></div>
        <div class="ham-bars" id="bar3"></div>
    </button>
</header>
<div class="header-container"></div>