---
const { title, url } = Astro.props;
---

<style>
    #next-case-study {
        position: relative;
        cursor: pointer;
    }

    #next-case-study:hover {
        opacity: .8;
        transform: translateX(.5rem);
    }

    #next-case-study::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        background: linear-gradient(90deg, transparent, #fef6f090, transparent);
        transition: .5s ease-in-out;
    }

    #next-case-study:hover::before {
        left: 100%;
    }

    .hmw-wrap {
        position: relative;
        transition: .5s ease-in-out;
    }

    .hmw-wrap img, .rotate-img img {
        transition: .5s ease-in-out;
    }

    .hmw-wrap img:hover, .rotate-img img:hover {
        transform: rotate(4deg);
    }

    .hmw-wrap #logo-arrow {
        position: inline-block; float: left;
        object-fit: contain;
        object-position: center;
        content: url("https://media.dave-vo.com/file/dvfolio/general/logo-stroked.png");
        width: 2.25rem; height: 2.5rem;
        margin-right: 1rem; margin-top: -0.25rem;
        transform: scaleX(-1) rotate(300deg); 
    }
</style>

<div class="hmw-wrap" id="next-case-study">
    <a class="open-new-page" href={url}>
        <p class="subtitle">Check out another case study!</p>
        <img id="logo-arrow" src="https://media.dave-vo.com/file/dvfolio/general/logo-stroked.png" alt="Decorative arrow pointing to next case study">
        <h2><u>{title}</u></h2>
    </a>
</div>