main p {
    max-width: 80ch;
}

.about-page {
    padding: 8rem 4rem 1rem 4rem;

    position: relative;
    max-width: 1312px;
    left: 50%;
    transform: translateX(-50%);
}

.white-space-block {
    height: 6ch;
}

.landing-text {
    font-family: abril;
    color: var(--teal);
    font-size: clamp(3rem, 4.25vw, 4.5rem);
    line-height: 100%;
    margin-bottom: 1rem;
}

.functional, .design-values, .fun-stuff {
    margin-bottom: 4rem;
}

.functional {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.profile-pic-container {
    display: flex;
    flex-direction: column;
}

.profile-pic, .playlist {
    position: relative;
}

.profile {
    width: clamp(150px, 20vw, 300px);
    margin-top: .75rem;
    border-radius: 1rem;
}

.wildcard {
    position: absolute; top: -.5rem; right: -1rem; width: 4rem;
}

.my-stats {
    display: flex; 
    align-items: center; 
    gap: .5rem;
}

.my-stats p {
    width: 12ch;
}

.my-stats span {
    position: relative;
    width: 100%; 
    height: clamp(.6rem, 1vw, 1rem); 
    background-color: var(--midtone);
    border-radius: clamp(.3rem, 1vw, .5rem); 
}

.stats-bar {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--teal);
    border-radius: .5rem;
}

.current-role-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.current-role-container figure {
    position: relative;
    flex: 1;
    max-width: 200px;
}

.current-role {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: .5s ease-in-out;
} 

.current-role:hover {
    transform: rotate(4deg);
    opacity: .8;
}

.current-role-container figure:hover::before {
    left: 100%;
}

.senbazuru {
    display: flex; 
    justify-content: space-between; 
    position: relative;
}

.subliminal {
    position: relative;
    margin: 0 0 2rem 2rem;
    max-width: 250px;
    float: right;
    transform: rotate(4deg);
    transition: .5s ease-in-out;
}

.subliminal:hover {
    transform: rotate(8deg);
    opacity: .8;
}

.listening-pic {
    position: absolute; 
    right: -2rem; 
    width: 7rem; 
    border-radius: 50%; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    transform: rotate(4deg); 
    z-index: 2;
}

@media screen and (max-width: 968px) {
    .current-role-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-content: center; align-items: center;
        margin: auto;
    }
}

@media screen and (max-width: 620px) {
    .about-page {
        padding: 8rem 2.4rem 1rem 2.4rem;
    }
    .functional {
        flex-direction: column-reverse;
    }

    .profile-pic-container {
        margin: auto;
        width: 70%;
        max-width: 280px;
    }
    .profile {
        width: 100%;
    }
    .wildcard {
        width: clamp(4rem, 20vw, 5rem);
    }
}

@media screen and (max-width: 582px) {
    .listening-pic {
        right: 10rem; 
        top: 6rem;
        transform: rotate(-12deg); 
    }
}

@media screen and (max-width: 514px) {
    .playlist-text-container {
        display: flex;
        flex-direction: column;
    }

    .subliminal {
        float: none;
        margin: 0 auto 2rem auto;
        left: 50%;
        transform: translateX(-50%) rotate(4deg);
    }

    .subliminal:hover {
        transform: translateX(-50%) rotate(8deg);
    }
}