main {
    display: grid;
    grid-template-columns: 9rem 1fr;
    gap: 4rem;
    padding: 0 4rem; padding-top: 4rem;
}

main p {
    max-width: 70ch;
}
main img, main div, main ul, main aside, main blockquote, main figure, main figcaption {
    max-width: 90ch;
}
main img {
    width: 100%;
    min-height: 300px;
    object-fit: contain;
    object-position: center;
    margin-top: 1.5rem;
}

main h2 {
    margin-bottom: 2ch;
}
main h3 {
    margin-bottom: .75ch;
}
main h4 {
    margin-bottom: .75ch;
}

main figcaption {
    color: var(--faded);
    margin-top: .5rem; margin: 0.75ch;
    text-align: center;
}

.two-column-div, .two-column-img, .insight, #field-findings {
    max-width: 90ch;
}

.subtitle {
    color: var(--faded);
    margin-bottom: 0.75ch;
}

.white-space-block {
    height: 6ch;
}

.toc-spacer {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -8rem;
}

/* ====================================================================== */

#hero-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-top: 5.2rem;
}

#case-study-title {
    padding: 3rem 2.4rem 2.4rem 2.4rem;
}

.hero {
    margin-top: -1rem;
    background-color: var(--navy);
}

.hero:after {
    content: "";
    display: block;
    clear: both;
}

.hero h1 {
    color: var(--bg);
    text-align: center;
}

.hero p {
    color: var(--bg);
}

.hero b {
    -webkit-text-stroke: 0.02rem var(--bg);
}

.logistics {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 0 2.4rem;
    padding-bottom: 3.5rem;
}

.logistics-header {
    margin-bottom: 0.5rem;
}

/* ============================================================== */

.wip {
    margin: 1.6rem 0;
}

.wip:after {
    content: "";
    display: block;
    clear: both;
}

/* ============================================================== */

.table-of-contents {
    position: sticky;
    top: 8rem;
}

.table-of-contents div {
    padding-bottom: 0.8rem; 
    font-family: gravity-bold; 
    color: var(--navy);
}

.table-of-contents li {
    font-family: gravity-bold;
    font-size: 0.9rem;
    line-height: 240%;
    color: var(--faded);
    margin-left: -2.4rem;
}

.table-of-contents li:hover {
    color: var(--teal);
}

.toc-section {
    display: inline-block;
    font-family: gravity;
    color: var(--navy);
    background-color: var(--light-teal);
    border: 1.25px solid var(--teal);
    border-radius: 0.6rem;

    padding: 0.4rem 0.75rem;   
    margin-bottom: 0.75rem; 
}

/* ================================================================= */

.main-content {
    padding-bottom: 5rem;
}

.two-column-div {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    margin: 2rem 0;
    gap: 2rem;
}

.two-column-div img {
    width: auto;
    margin: 0;
}

.two-column-img {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: .25rem;
    margin-bottom: 1.5rem;
}

.two-column-img img {
    width: 1fr;
    height: 400px;
    object-fit: cover;
    object-position: 0 0;
}

.walkthrough {
    display: grid; grid-template-columns: 1fr 1fr 1fr;
}

.walkthrough img {
    min-height: 0;
    object-position: 0 0;
}

.walkthrough p {
    padding: 0 1rem;
}

#two-div-walkthrough {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.interview-data {
    display: grid;
    grid-template-columns: 0.45fr 0.55fr;
    gap: 2rem;
}

.quote {
    box-sizing: border-box;
    padding-left: 1.25rem;
    border-left: 0.3rem solid var(--teal);
    align-items: center;
    height: 100%;
}

#percentage {
    font-size: 2rem;
}

.insight {
    padding: 1rem 1.5rem;
    margin-bottom: 1.2rem;
    border-radius: 0.6rem;
    background-color: var(--light-teal);
    border: 1.25px solid var(--teal);
}

#with-emoji {
    display: grid;
    grid-template-columns: 2ch 1fr;
    gap: 1.5rem;
    padding: 1rem 1.5rem 1rem 1rem;
}

#with-emoji div:nth-child(1) {
    font-size: 1.6rem;
}

#pain-point {
    display: grid;
    grid-template-columns: 1ch 1fr;
    gap: 1.5rem;
    background-color: var(--pain-point);
    border: 1.25px solid var(--quote-pain);
}

#gain-point {
    display: grid;
    grid-template-columns: 1ch 1fr;
    gap: 1.5rem;
    background-color: var(--gain-point);
    border: 1.25px solid var(--quote-gain);
}

.hmw-wrap {
    position: relative;
    transition: .5s ease-in-out;
}

.hmw-wrap h2::after {
    position: absolute; 
    content: url("https://media.dave-vo.com/file/dvfolio/general/logo-stroked.png");
    width: 2rem; height: 2.25rem;
    left: -1.75rem; 
    transform: scale(.2) scaleX(-1) rotate(300deg); 
}

#next-case-study {
    position: relative;
    cursor: pointer;
}

#next-case-study:hover {
    opacity: .8;
    transform: translateX(.5rem);
}

#next-case-study::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%; 
    height: 100%;
    background: linear-gradient(90deg, transparent, #fef6f090, transparent);
    transition: .5s ease-in-out;
}

#next-case-study:hover::before {
    left: 100%;
}


/* =============================================================== */

#field-findings {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 2rem 0;
    gap: 2rem;
}

#field-findings img {
    width: auto;
    height: 480px;
    margin: 0;
}

/* ================================= */

#sevenatenine-takeaways {
    gap: 0;
}

.epep {
    background-color: var(--pain-point); 
    border-radius: .6rem 0 0 .6rem;
    display: flex;
    align-items: center;
}

.epep #pain-point, .epep #gain-point {
    max-width: none;
    width: 100%;
}

/* ================================= */

.tags {
    padding-left: 0;
}

.tags li {
    font-family: gravity;
    display: inline;
    list-style-type: none;
    white-space: nowrap;

    padding: .25rem .5rem;
    margin-right: .25rem;
    border-radius: .25rem;
    line-height: 3.2rem;

    background-color: var(--light-teal);
    border: 1.25px solid var(--teal);
}

/* ================================= */

.mvp-quote {
    display: flex;
    flex-direction: column;
    min-height: 0;
    gap: 1rem;
}

#quote-profile {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

#quote-profile img {
    width: 3.5rem;
    height: 3.5rem;
    min-height: 0;
    margin: 0;
    object-position: 0 0;
}

/* ================================= */

.numbered {
    margin: 1rem 0; margin-top: 2rem;
}

.numbered span {
    font-family: gravity-bold;
    color: var(--bg);
    background-color: #14ae5c;
    border-radius: 3rem;
    padding: .2rem .55rem;
}

/* ================================= */

.div-phone-mockups {
    display: flex; 
    justify-content: space-evenly; 
    gap: 2rem;
}

.div-phone-mockups div:nth-child(1) {
    max-width: 300px;
}

.mockups {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    justify-content: flex-end; 
    gap: 1rem;
}

.mockups figure img {
    height: auto; 
    margin-top: 0; 
    object-position: 0 0;
    
}

/* =========================================================== */

.aromacovery-team {
    display: flex;
    justify-content: center;
}

.aromacovery-team img {
    max-width: 320px;
    transform: rotate(8deg);
}

/* =========================================================== */

@media screen and (min-width: 1281px) {
    main p {
        max-width: clamp(70ch, 60vw, 160ch);
    }

    main img, main div, main ul, main aside, main blockquote, main figure, main figcaption {
        max-width: clamp(90ch, 60vw, 180ch);
    }

    .two-column-div, .two-column-img, .insight, #field-findings {
        max-width: clamp(90ch, 60vw, 180ch);
    }
}

@media screen and (min-width: 624px) and (max-width: 1100px) {
    main p, main img, main h1, main h2, main h3, main div {
        max-width: calc(60vw);
    }
}

@media screen and (max-width: 1100px) {
    .two-column-div {
        grid-template-columns: 1fr;
        gap: 0;
    }

    #field-findings {
        flex-direction: column;
    }

    .div-phone-mockups {
        flex-direction: column; 
    }

    .div-phone-mockups div:nth-child(1) {
        max-width: none;
    }
}

@media screen and (max-width: 800px) {
    .mvp-quote {
        grid-template-columns: 1fr;
        padding: 0; padding-bottom: 1rem;
        border-radius: 0;
    }

    .mvp-quote-wrapper {
        position: relative;
        width: auto;
        height: auto;
        background: var(--case-study);
        padding: 0rem; padding-bottom: .5rem;
        border-radius: 0;
    }

    .interview-data {
        grid-template-columns: 1fr;
    }

    .epep {
        background-color: var(--pain-point); 
        border-radius: .6rem;
        margin-bottom: 1.5rem;
    }

    .epep #pain-point, .epep #gain-point {
        max-width: none;
    }

    .walkthrough, #two-div-walkthrough {
       grid-template-columns: 1fr;
    }

    .walkthrough figure {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 623px) {
    #case-study-title {
        padding: 3rem 2.4rem 2.4rem 2.4rem;
        font-size: clamp(1.75rem, 2vw, 2rem);
        text-align: left;
    }

    .logistics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .table-of-contents {
        visibility: hidden;
        display: none;
    }

    main {
        grid-template-columns: 1fr;
        padding-top: 1rem;  padding-left: 2.4rem; padding-right: 0rem;
    }

    main p, main img, main h1, main h2, main h3, main div, .two-column-div {
        max-width: calc(100vw - 4.5rem);
    }

    main img {
        min-height: 0;
        margin: 0; margin-top: 1.5rem;
        object-fit: cover;
    }

    .main-content {
        padding-right: 2.4rem;
    }

    .white-space-block {
        height: 4ch;
    }

    .hmw-wrap h2::after {
        visibility: collapse;
    }

    .two-column-img {
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }
    .two-column-img img {
        margin-top: 0;
    }

    .quote-text {
        font-size: 1.1rem;
    }

    .breakdown-visuals, .breakdown-visuals #two-div-walkthrough {
        grid-template-columns: 1fr 1fr;
    }

    .aromacovery-team img {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 414px) {
    #quote-profile {
        flex-direction: column;
        align-items: normal;
        gap: .5rem;
    }

    .breakdown-visuals, .breakdown-visuals #two-div-walkthrough {
        grid-template-columns: 1fr;
    }
}