@font-face {
    font-family: abril;
    src: url(../fonts/abril-fatface-italic.ttf);
}

@font-face {
    font-family: gravity;
    src: url(../fonts/Gravity-Regular.otf);
}

@font-face {
    font-family: gravity-bold;
    src: url(../fonts/Gravity-Bold.otf);
}

@font-face {
    font-family: fraunces;
    src: url(../fonts/Fraunces-Italic[SOFT\,WONK\,opsz\,wght].ttf);
}