.footer {
    background-color: var(--teal);
    height: 88px;
    width: 100%;
    
    position: fixed;
    bottom: 0;
    gap: 1.5rem;

    display: flex; flex-direction: row;
    align-items: center;
    
    
    /*
    position: fixed;
    display: grid;
    grid-template-columns: 70vw 10vw 10vw 10vw;
    bottom: 0px;
    background-color: var(--teal);
    place-items: left;
    */
}

.footer-text {
    width: 50%;
    padding-left: 4.75rem;
}

#footer-text {
    color: var(--bg);
}

.social-media-icons {
    width: 100%;
    min-height: 2.25rem;
    margin-right: 7.25rem;
    
}

.media-links {
    float: right;
    width: 2.25rem;
    padding-right: 3rem;
    white-space: nowrap;
}

@media screen and (max-width: 550px) {
    .footer-text {
        width: 100%;
        margin-left: -2rem;
        font-size: .8rem;
    }
    .social-media-icons {
        margin-right: 2.25rem;
    }
    .media-links {
        padding-right: 1.5rem;
        width: 1.5rem;
    }
    
}