.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;

    background-color: var(--teal);
    height: 82px;
    margin-bottom: 0;
    margin-top: 4rem;
    padding: 0 4rem;
    
}

.footer p {
    color: var(--bg);
}

.footer b {
    -webkit-text-stroke: 0px var(--bg);
}

.social-media-icons {
    display: flex;
    justify-content: flex-end;
    min-height: 2.25rem;
    align-content: center;
    gap: 2rem;
}

.social-media-icons img {
    width: 2.25rem;
    white-space: nowrap;
}
.social-media-icons img:hover {
    transform: scale(1.1, 1.1);
}
.msocial-media-icons img:active {
    transform: scale(0.9, 0.9);
}

@media screen and (min-width: 621px) {
}

@media screen and (max-width: 620px) {
    .footer {
        padding: 0 2.2rem;
    }
    .footer-text {
        width: 100%;
    }

    .social-media-icons img {
        width: 2rem;
    }  
}

@media screen and (max-width: 410px) {
    .footer {
        grid-template-columns: 1fr;
        height: auto;
        padding-top: 0.8rem;
    }
    .footer p {
        text-align: center;
        margin-bottom: 1rem;
    }
    .social-media-icons {
        justify-content: center;
        margin-bottom: 1rem;
    }
}