:root {
    --bg: #fef6f0;
    --teal: #009bba;
    --navy: #062f3f;
}

body {
    background-color: var(--bg);
    margin: 0px;
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
}