:root {
    --bg: #fef6f0;
    --teal: #00afcd;
    --navy: #062f3f;
    --navgradient: linear-gradient(var(--bg), var(--bg) 9.4rem, rgb(254,246,240, 0.8) 10.2rem, transparent);
}

* {
    margin: 0px; 
}

body {
    background-color: var(--bg);
    
}

h1 {
    font-weight: normal;
    font-family: gravity-bold;
}

p, li { /* landing-body: I am a... I'm an upcoming UI/UX... */
    color: var(--navy);
    font-size: clamp(16px, 2vw, 16.8px);
    
    /*
    width: clamp(400px, 450px, 1fr);
    padding-bottom: 4px;
    */
}

p {
    font-family: gravity;
    line-height: 150%;
}

ul {
    list-style-type: none;
    line-height: 2.4rem;
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none;
    color: inherit; 
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}