.header {
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: var(--bg);
}

.small-shrink-logo {
    position: absolute;
    mix-blend-mode: multiply;
    width: 56px;
    padding-left: 64px;
    padding-top: 22px;
    opacity: 0;
    
}

.wordmark {
    display: inline-block; white-space: nowrap;
    font-family: abril;
    font-size: 48px;
    color: var(--teal);
    padding: 28px 24px 24px 82px;
}

.header-text { 
    display: inline-block;
    font-family: gravity-bold;
    font-size: 16px;
    color: var(--navy);

    padding: 24px;
    padding-top: 38px;
    cursor: pointer;
    
}

.current-page-indicator {
    position: fixed; float: left;
    width: 46px;
    height: 2px;
    background-color: var(--navy);
    z-index: 101;
}

.hamburger-icon {
    position: relative; float: left;
    width: 25px;
    margin-left: -52px;
    margin-top: 8px;
    opacity: 0;
}

.menu-options {
    display: flex; flex-direction: row; 
    flex-wrap: nowrap;
    padding-right: 40px;
}

@media screen and (max-width: 620px) {
    .wordmark, .header-text, .current-page-indicator {
        opacity: 0;
    }
    .hamburger-icon, .small-shrink-logo {
        opacity: 1;
    }
}