.header {
    width: 100%;
    background-color: var(--bg);
    max-height: 5.125rem;
    overflow: hidden;

    position: fixed;
    display: flex; flex-direction: row;
    z-index: 100;
}

#header {
    width: 32.5%;
    z-index: 1;
}

.menu-options {
    width: 70%;
    justify-content: right;
    white-space: nowrap;
}

.wordmark {
    display: inline-block; white-space: nowrap;
    font-family: abril;
    font-size: 48px;
    color: var(--teal);
    background-color: var(--bg);

    padding-top: 1.75rem;
    padding-right: 1.5rem;
    padding-left: 5.125rem;
}

.header-text {
    font-family: gravity-bold;
    color: var(--navy);
    cursor: pointer;
    float: right;
    line-height: unset;
    padding: 1rem;
    margin-top: 3rem;
    margin-right: 4rem;

    transform: color 1s;
}

.header-text:hover, #hamburger-menu-options:hover {
    padding: .4rem 1rem .4rem 1rem;
    margin: -.4rem -1rem -.4rem -1rem;
    background-color: #00afcd32; 
    border-radius: 0.6rem;
}

.small-shrink-logo {
    position: absolute;
    left: 0;
    width: 56px; height: 56px;
    z-index: 2;
    mix-blend-mode: multiply;

    margin-top: .88rem;
    margin-left: 2rem;

    pointer-events: none;
    opacity: 0;
    transition: 0.4s ease-in-out;

}

.hamburger {
    /* Align menu button to the right by putting flexible space to the left */
    margin-left: auto;
}
.ham-bars {
    width: 35px;
    height: 5px;
    background-color: var(--navy);
    border-radius: 5px;
    opacity: 0;

    margin: .3rem;
    margin-right: 2.3rem;
    transition: 0.4s ease-in-out;
}

.active #bar1 {
    transform: translate(0, 10px) rotate(45deg);
}
.active #bar2 {
    opacity: 0;
    width: 0;
}
.active #bar3 {
    transform: translate(0, -10px) rotate(-45deg);
}

.menu {
    position: fixed;
    left: 0%;
    width: 100%;
    background-image: var(--navgradient);
    z-index: -1;
    opacity: 0;

    height: 11.8rem;

    transform: translateY(-100%);
    transition: 0.4s ease-in-out;
    cursor: auto;
}

.active ~ .menu {
    transform: translateY(0);
}

.hamburger-menu-options {
    font-family: gravity-bold;
    color: var(--navy);
    position: fixed;

    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 620px) {
    .wordmark, .header-text, .current-page-indicator {
        opacity: 0;
        pointer-events: none;
    }
    .ham-bars, .menu, .hamburger-menu-options, .small-shrink-logo {
        opacity: 1;
        pointer-events: auto;
    }
    .menu-options {
        height: 0;
    }
    .hamburger-menu-options {
        margin-top: 1.4rem;
    }
    .header-text:hover, #hamburger-menu-options:hover {
        padding: 0rem 1rem .2rem 1rem;
        margin: 0rem -1rem -.2rem -1rem;
        background-color: #00afcd32; 
        border-radius: 0.6rem;
    }
}

@media screen and (min-width: 621px) {
    .menu {
        position: static;
        height: auto;
        opacity: 1;
        transform: none;
    }
    .hamburger-menu-options {
        position: static;
        margin: 0;
        transform: none;
        opacity: 1;
        pointer-events: unset;
        display: flex;
        justify-content: flex-end;
        padding-top: 3rem;
        gap: 4rem;
        padding-right: 4rem;
        line-height: unset;
    }
}
