.landing-page {
    display: flex;
    flex-direction: row;
    position: relative;
    background-image: linear-gradient(180deg, var(--accent-100, #E4EFED) 0%, var(--neutral-100, #FEF6F0) 100%), url("https://media.dave-vo.com/file/dvfolio/landing-page/portfolio-sky.png");
    background-blend-mode: soft-light, normal;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: clamp(500px, 2vw, 700px);

    margin-bottom: 4rem;
    padding-top: 6rem;
}

@supports (background-image: linear-gradient(180deg, var(--accent-100, #E4EFED) 0%, var(--neutral-100, #FEF6F0) 100%), url("https://media.dave-vo.com/file/dvfolio/landing-page/portfolio-sky.webp")) {
        .landing-page {
            background-image: linear-gradient(180deg, var(--accent-100, #E4EFED) 0%, var(--neutral-100, #FEF6F0) 100%), url("https://media.dave-vo.com/file/dvfolio/landing-page/portfolio-sky.webp"); /* WebP version if supported */
        }
    }

.landing-page:after {
    content: "";
    display: block;
    clear: both;
}

.landing-page h2 {
    color: var(--accent-800);
    line-height: clamp(125%, 2vw, 100%);
    margin-bottom: 1rem;
    font-size: clamp(1.3rem, 5vw, 2rem);
}

.landing-link {
    display: inline;
    list-style-type: none;
    white-space: nowrap;

    padding: .25rem .75em;
    margin-right: 0.6rem;
    border-radius: 100rem;
    line-height: clamp(2.75rem, calc(2vw + 1rem), 3.3rem);
    
    border: 1.25px solid var(--accent-800);
    color: var(--accent-800);

    > span {
        margin-right: 0.25rem;
    }
}

.landing-link:hover {
    color: var(--bg);
    background-color: var(--accent-800);
}

.landing-text {
    position: relative;
    margin: auto auto;
    width: clamp(75vw, 1vw, 80vw);
    padding: 1rem 0 3rem 0;
    text-wrap: balance;
}

.landing-text::after {
    position: absolute; 
    content: url("https://media.dave-vo.com/file/dvfolio/general/logo-stroked.png");
    width: 2rem; height: 2.25rem;
    top: 1.25rem;
    left: -1.75rem; 
    transform: scale(.2) scaleX(-1) rotate(300deg); 
}

/* ========================================================================= */

.featured-case-studies {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    place-content: center;
    padding: 0rem 4rem;
    margin-top: -6rem;
}

.project {
    width: 100%;
    height: auto;
    position: relative;
    
    background-color: #fff;
    border: .1rem solid var(--gray-200);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 1rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.project img, .project picture, .project dotlottie-player  {
    display: block;
    width: 100%;
    height: auto;
    max-height: 500px;
    border-radius: 1rem 1rem 0px 0px;
}

.project img, .project picture, .project dotlottie-player  {
    transition: transform 0.2s ease-in;
    object-fit: cover;
}

.project:hover img, .project:hover dotlottie-player {
    transform: scale(105%);
}

.project-overview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;

    background-color: #fff;
    z-index: 1;

    border-radius: 0px 0px 1rem 1rem;  
    border-top: .1rem solid var(--gray-200);  
    padding: 2rem 2rem;
    gap: 1rem;
}

.project-metric {
    font-family: gravity;
    display: inline;
    list-style-type: none;
    white-space: nowrap;

    padding: .25rem 1rem;
    margin-right: 0.6rem;
    border-radius: 100rem;
    
    background-color: var(--accent-100);
}

.title {
    font-size: clamp(1.25rem, 2.5vw, 2rem);
    margin-bottom: 0;
    line-height: 150%;
    text-wrap: balance;
}

.keywords li {
    font-family: gravity;
    display: inline;
    list-style-type: none;
    white-space: nowrap;

    padding: .25rem .75em;
    margin-right: 0.6rem;
    border-radius: 100rem;
    line-height: clamp(2.75rem, calc(2vw + 1rem), 3.3rem);
    
    border: 1.25px solid var(--gray-600);
    color: var(--gray-600);
}

.insight {
    display: inline-block;
    padding: .25rem .75em;
    margin-bottom: 1.2rem;
    border-radius: 0.4rem;
    background-color: var(--accent-100);
    border: 1.25px solid var(--accent-400);
}

/* ========================================================================= */

@media screen and (min-width: 1321px) {
    #projects-header, .featured-case-studies {
        padding: 0 0 0 0;
        position: relative;
        max-width: 1312px;
        left: 50%;
        transform: translateX(-50%);
    }

    .project img {
        height: clamp(275px, 100rem, 400px);
    }
}

@media screen and (max-width: 900px) {
    
    .draggable {
        max-width: clamp(70px, 15vw, 90px);
    }
    .featured-case-studies {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 620px) {
    .landing-page {
        padding-bottom: 4rem;
    }
    .landing-body, .landing-text {
        text-align: left;
    }
    #move-me {
        visibility: collapse;
        width: 0; height: 0;
    }
    .project img {
        height: 450px;
    }
    
    .featured-case-studies {
        padding: 0rem 2.4rem;
        margin-top: -10rem;
    }
    .keywords li {
        margin-right: 0.2rem;
    }

    .landing-text::after {
        visibility: collapse;
    }
}

@media screen and (max-width: 390px) {
    .project-metric {
        border-radius: 1rem;
        white-space: wrap;
        text-align: center;
        font-size: 0.9rem;
        padding: .25rem .5rem;
    }
}