.landing-page {
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 2.5rem;
    place-content: center;
    position: relative;
}

.landing-page:after {
    content: "";
    display: block;
    clear: both;
}

.landing-text {
    font-family: abril;
    color: var(--teal);
    font-size: clamp(4rem, 6vw, 8rem);
    line-height: 90%;
}

#demo {
    max-width: 50ch;
}

/* =================================================================== */

.landing-page img {
    object-fit: cover;
    height: auto;
}

.landing-ctas {
    display: flex;
    margin-top: 1.5rem;
    gap: 1.5rem;
    align-items: center;
}

.landing-ctas {
    position: relative;
    background-color: var(--teal);
    padding: .3rem 1.2rem;
    border-radius: .6rem;
    overflow: hidden;
    transition: opacity .5s ease-in-out;
}

.landing-ctas:hover {
    opacity: .8;
}

#flying-arrow {
    position: absolute;
    width: 95%;
    left: -15%;
    bottom: 30%;
    transform: rotate(-45deg);
    z-index: 1;
}

.movable {
    position: absolute;
    max-width: 90px;
    transition: transform .5s ease-out;
    z-index: 1;
}

.movable:hover {
    cursor: move;
    transform: rotate(10deg);
}
.movable:active {
    cursor: pointer;
}

#d-png {
    top: 10%;
    left: 12%;
    width: 120px; height: 120px;
    position: absolute;
}

.d-png {
    width: 100%;
    top: 10%;
    left: 12%;
    rotate: -16deg;
}

#move-me, #tap-me {
    position: absolute; 
    top: 75%;
    left: 20%;
    width: 100px;
}

#r-png {
    top: 48%;
    right: 10%;
    rotate: -12deg;
}

#c-png {
    top: 72%;
    left: 22%;
    rotate: 8deg;
}

/* ========================================================================= */

.toc-spacer {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -8rem;
}

#projects-header {
    padding: 0 0 1.4rem 4rem;
}

.featured-case-studies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-content: center;
    padding: 0rem 4rem;
}

.project {
    width: 100%;
    height: auto;
    position: relative;
    
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
}

.project::before, .landing-ctas::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%; 
    height: 100%;
    opacity: 0;
    z-index: 2;
    background: linear-gradient(90deg, transparent, #ffffffc0, transparent);
    transition: .5s ease-in-out;
}

.project:hover::before, .landing-ctas:hover::before,
.project:active::before, .landing-ctas:active::before {
    left: 100%;
    opacity: 1;
}

.project img {
    width: 100%;
    object-fit: cover;
    height: 275px;
    border-radius: 12px 12px 0px 0px;
    transition: transform 0.2s ease-in;
}
.project:hover img {
    transform: scale(105%);
}

.project-overview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;

    background-color: #fff;
    z-index: 1;

    border-radius: 0px 0px 12px 12px;    
    padding: 16px 24px 24px;
    gap: 4px;
}

.title {
    font-size: 24px;
    font-family: gravity-bold;
}

.keywords {
    margin-bottom: 1.2rem;
}

.keywords li {
    font-family: gravity;
    display: inline;
    list-style-type: none;
    white-space: nowrap;

    padding: .25rem .45em;
    margin-right: 0.6rem;
    border-radius: .4rem;
    line-height: 3.2rem;
    
    background-color: var(--light-teal); 
    border: 1.25px solid var(--teal);
}

/* ========================================================================= */

@media screen and (min-width: 901px) {
    .landing-page {
        padding: 8rem 5rem 1rem 5rem;
    }
}

@media screen and (max-width: 900px) {
    .landing-page {
        grid-template-columns: 1fr;
        padding-bottom: 4rem;
    }
    .landing-visual {
        order: 1;
        max-height: 400px;
    }
    .blurb-section {
        order: 2;
        padding: 0 4rem;
    }
    #flying-arrow {
        max-width: 500px;
        width: 75%;
        left: -10%;
        bottom: 27%;
    }
    .draggable {
        max-width: clamp(70px, 15vw, 90px);
    }
    .featured-case-studies {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 620px) {
    .landing-page {
        padding-bottom: 4rem;
    }
    .blurb-section {
        padding: 0 2.4rem;
    }
    .landing-body, .landing-text {
        text-align: left;
    }
    .landing-text {
        font-size: clamp(3rem, 15vw, 4rem);
    }
    #demo {
        max-width: none;
        text-align: left;
    }
    .landing-ctas {
        margin: 2rem 0 0 0;
    }
    #move-me {
        visibility: collapse;
        width: 0; height: 0;
    }
    
    

    /* =================================*/

    #projects-header {
        padding: 0; padding-bottom: 1.2rem;
        text-align: center;
    }
    .featured-case-studies {
        padding: 0rem 2.4rem;
    }
    .keywords li {
        margin-right: 0.2rem;
    }
}