main section {
    margin: auto;
}

main p {
    max-width: 80ch;
    color: var(--neutral-700);
    margin-top: 1rem;
}

main a {
    color: var(--accent-800);
}

.playground-page {
    padding: 10rem 4rem 1rem 4rem;
    position: relative;
    max-width: 1312px;
    left: 50%;
    transform: translateX(-50%);
}

.landing-text {
    color: var(--accent-400);
    font-size: clamp(3rem, 4.25vw, 4.5rem);
    line-height: 100%;
    margin-bottom: .75ch;
    padding-bottom: 0.5rem;

    background: repeating-linear-gradient(to bottom, var(--accent-600) 0, var(--accent-400) 2.64rem, var(--accent-400) 3.3rem);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


@media screen and (max-width: 620px) {
    .playground-page {
        padding: 10rem 2.4rem 1rem 2.4rem;
    }
}