a:hover, a:active {
    color: var(--teal);
}

p {
    font-family: gravity;
    font-size: 0.85rem;
    color: var(--navy);
}

h2 {
    font-family: gravity-bold;
    font-size: 1.3rem;
    color: var(--navy);
}

.work-page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: center;
    gap: 1.5rem;

    padding-top: 8rem;
    padding-bottom: 2rem;
}